* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background-color: crimson; */
}
h1 {
  font-family: "Dancing Script", cursive;
  color: black;
}
.header {
  text-align: center;
  font-size: 35px;
}
.map {
  justify-content: space-between;
  justify-items: center;
  text-align: center;
}
li {
  width: 20%;
  display: inline-block;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  color: white;
}
a {
  text-decoration: none;
}
.lia {
  color: black;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-size: 35px;
  padding: 0 10px;
  /* border: 2px solid white; */
}
.lia:hover {
  background-color: crimson;
  color: white;
  border-radius: 10px;
  transition: all 0.5s;
}
h2 {
  color: white;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-size: 35px;
}
img {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.first {
  padding: 20px;
  font-family: "Arima Madurai", cursive;
  /* font-family: "Dancing Script", cursive; */
  font-size: 20px;
  /* font-size: 35px; */
  font-weight: 900;
}
.büyük {
  overflow: hidden;
  border: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  background-color: crimson;
}
.küçük {
  width: 35%;
  height: 350px;
  /* border: 2px solid red; */
  position: relative;
  z-index: 1;
  margin: 4rem 1rem;
  border-radius: 10px;
  overflow: hidden;
}
.küçük:hover {
  filter: grayscale(80%);
  box-shadow: rgba(255, 255, 255, 0.9) 0px 4px 8px,
    rgba(255, 255, 255, 0.8) 0px 14px 26px -6px,
    rgba(255, 254, 254, 0.6) 0px -6px 0px inset;
  transition: all 0.5s;
  /* transform: translateY(-0.1%); */
}
.img-div {
  width: 100%;
  height: 100%;
}

.küçük p {
  display: none;
  font-family: "Arima Madurai", cursive;
  font-size: 10px;
}

.küçük:hover p {
  display: block;
  color: white;
  background-color: rgba(22, 36, 41, 0.5);
  /* border: 2px solid red; */
  font-size: 1.5rem;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  transition: all 2s;
  transform: translateY(-0.1%);
}

@media screen and (max-width: 480px) {
  body {
    background-color: crimson;
  }
  h1 {
    color: white;
  }
  .map {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .map li {
    margin: 1rem;
  }
  .lia {
    color: white;
    font-size: 20px;
  }
  .lia:hover {
    background-color: white;
    color: crimson;
  }
  h2 {
    color: black;
  }
  .büyük {
    background-color: white;
  }
  .küçük {
    width: 100%;
    margin: 1rem;
  }
}
